/* taiwanese.css */

.taiwan-map {
  text-align: left;
  position: relative;
  left: 0;
  margin-left: 10%;
  margin-top: 10%;
}

.twMax-more-button{
  width:280%;
  height:100%;
  font-size:18px;
  border-radius:5px;
  border:none;
  color:white;
  background-color:rgb(33, 66, 61);
  cursor:pointer;
}

.content-box {
  /* position: absolute; */
  /* width: 100px; */
  /* height: 100px; */
  top: 50%;
  left: 60%;
  transform: translate(-50%, -50%);
  text-align: center;
  border-radius: 30px 4px 55px 6px;
  background-image:linear-gradient(to right,#8de66d8b,#8bf5897d,#89f5b66f,#89eef56f,#89f5f379,#89f0f578,#89e7f57b,#89f5bd7e,#89f59b73,#a9f58980);
  background-size: cover;
  background-position: center;
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  overflow: auto;
}
/* @media only screen and (max-width:800px) {
  .content-box {
      background-image: url(../images/活動背景1.png);
      background-size: cover;
      background-position: center;
      width: 71%;
      height: 100%;
      padding-top: 10vh;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: absolute;
      overflow: auto;
  }

  .content-box img {
      width: 30vw;
      max-height: 15vh;
      object-fit: contain;
      margin-bottom: 2vh;
      margin-right: -5vw;
      margin-top: -5vh;
  }

  .content-box div {
      color: black;
      font-size: 0.4vw;
      z-index: 0.5;
      width: 45vw;
      text-align: justify;
      white-space: pre-wrap;
      margin-top: 0.3vh;
      margin-left: 10vw;
  }
} */

@media (max-width: 1000px) {
  .content-box > div {
    font-size: 16px;
  }
}

.box{
  width: 100px;
  height: 100px;
  display: flex
}
.taiwan-map2 {
  text-align: left;
  position: relative;
  left: 0;
  
  /* 其他樣式設定 */
}
.twMax-more-button1 {
  /* 將按鈕向左移動，您可以在這裡調整 margin-left 的值 */
  margin-left: -150%; /* 調整這個值來控制按鈕的左偏移量 */
  color: white;
  background-color: rgb(33, 66, 61);
}


.twMin-more-button{
  display: inline-block;
  position: absolute;
  top: 4%;
  right: 2%;
  width: 50%;
  border-radius: 5px;
  border: none;
  color: white;
  background-color: rgb(0, 118, 100);
  cursor: pointer;
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", "PingFang, STHeiti", sans-serif, serif;
}

.twMin-more-button:hover{
  background-color: rgb(39, 93, 84);
  clip-path: polygon(0 0, 70% 0, 90% 100%, 0 100%);
  transition: 9s;
}


.hr-line {
  border-top: 2px solid blue;
}

.map-title {
  text-align: center;
  color: navy;
}


.map-image {
  width: 100%;
}

.city-button {
  position: absolute;
  top: 9%;
  /* 調整按鈕在台灣地圖上的垂直位置 */
  left: 80%;
  /* 調整按鈕在台灣地圖上的水平位置 */
  transform: translate(-50%, -50%);
  /* 其他樣式設定 */
}


.Taichung-button {
  position: absolute;
  top: 33%;
  left: 9%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Taichung-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Keelung-button {
  position: absolute;
  top: 3.5%;
  left: 20.7%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Keelung-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Philippines-image {
  position: absolute;
  top: 44%;
  left: -10%;
  width: 50%;
  height: 50%;
  transform: translate(50%, 50%);
}


.Philippines-button {
  position: absolute;
  top: 4%;
  left: 13%;
  transform: translate(-50%, -50%);
  width: 30%;
  height: 60%;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Philippines-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 38%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Taitung-button {
  position: absolute;
  top: 73%;
  left: 11%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Taitung-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Tainan-button {
  position: absolute;
  top: 64%;
  left: 3.6%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Tainan-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Yilan-button {
  position: absolute;
  top: 22%;
  left: 16.5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Yilan-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Hualien-button {
  position: absolute;
  top: 45%;
  left: 16.3%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Hualien-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Nantou-button {
  position: absolute;
  top: 45%;
  left: 10%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Nantou-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Pingtung-button {
  position: absolute;
  top: 80%;
  left: 6%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Pingtung-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Kaohsiung-button {
  position: absolute;
  top: 68%;
  left: 6.5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Kaohsiung-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.chiayi_city-button {
  position: absolute;
  top: 53.5%;
  left: 5.5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.chiayi_city-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Chiayi_County-button {
  position: absolute;
  top: 56.5%;
  left: 6.5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Chiayi_County-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Changhua-button {
  position: absolute;
  top: 40%;
  left: 5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Changhua-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Yunlin-button {
  position: absolute;
  top: 47%;
  left: 4%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Yunlin-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Miaoli-button {
  position: absolute;
  top: 25%;
  left: 9%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Miaoli-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Hsinchu_City-button {
  position: absolute;
  top: 16%;
  left: 11%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Hsinchu_City-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Hsinchu_County-button {
  position: absolute;
  top: 20%;
  left: 11.7%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 10px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Hsinchu_County-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.Taoyuan-button {
  position: absolute;
  top: 10%;
  left: 11.9%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}

.Taoyuan-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

.New_Taipei-button {
  position: absolute;
  top: 13.1%;
  left: 15.5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}
.New_Taipei-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}


.taipei-button {
  position: absolute;
  top: 8%;
  left: 16.5%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  font-size: 15px;
  font-weight: bold;
  /* color: rgba(0, 97, 243, 0.732); */
  ;
  /* 其他按鈕樣式設定 */
  font-family: "Noto Sans CJK TC", "Microsoft JhengHei", ""PingFang, STHeiti"", sans-serif, serif;
}
.taipei-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 8%;
  transform: translate(-50%, -50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  /* background-color: rgba(0, 97, 243, 0.732); */
  /* 設定圓球的顏色 */
}

/* 網頁捲軸【寬度】 */
.content-box::-webkit-scrollbar {
  width: 10px;
}

/* 網頁捲軸【背景】顏色 */
.content-box::-webkit-scrollbar-track {
  background: #a8d7b26a;
}

/* 網頁捲軸【把手】顏色 */
.content-box::-webkit-scrollbar-thumb {
  background: #3f9b82bb;
  border-radius: 10px;
}

/* 網頁捲軸【滑過時】把手的顏色 */
.content-box::-webkit-scrollbar-thumb:hover {
  background: #3b6046;
}
