.boxIdea-GD {
    max-width: 1024px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: justify;
    font-size: 20px;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Arial, sans-serif";
    font-weight: 500;
}

.care-GD{
    width: 80%;
    margin: 10% 10% 10% 10%;
    background: rgba(16, 30, 227, 0.194);
    padding: 10px;
    border-radius: 20px 20px 20px 20px;
}

.boxHistory-GD {
    display: grid;
    width: 90%;
    height: auto !important;
    background-color: rgb(246, 243, 243);
    position: relative;
    padding: 10px;
    margin-top: 20px;
    text-align: justify;
    border-radius: 10px;
    margin-left:10% ;
    /* order: 2; */
}

.boxPlan-GD {
    display: grid;
    width: 90%;
    height: auto !important;
    background-color: rgb(246, 243, 243);
    position: relative;
    padding: 10px;
    margin-top: 20px;
    text-align: justify;
    border-radius: 10px;
    margin-right: 10%;
    /* order: 3; */
}

.show-on-large-screen{
    margin: 0 10% 0 10%;
    width:1%;
    height:400px;
    background:rgba(16, 30, 227, 0.194);
    margin:20% 49.5% 10% 49.5%;
}

.grid-GD{
    display: grid;
    grid-template-columns: 44% 22% 44%;
    margin: 10% 17% 10% 5%;
    /* gap: 10px; */
}

.boxNeed-GD {
    max-width: 1024px;
    font-size: 20px;
    text-align: justify;
    margin-left: 12%;
    margin-right: 10%;
    line-height:40px;
}

/* 大標 */
.bigtitle {
text-align: center;
font-size: 30px;
font-family: "Arial, sans-serif";
color: rgba(29, 39, 179, 0.7);
margin: 10% 10% 5% 10%;
font-weight: bold;
}


.ulli{
    text-align: left;
    font-size: 20px;
    font-family: "Arial, sans-serif";
    color: rgba(29, 39, 179, 0.7);
    line-height: 0.3;
    margin-top: 8%;
    margin-left: 10%;
    margin-right: 10%;
    font-weight: bold;
}

.mintitle {
    text-align: left;
    font-size: 20px;
    font-family: Arial, sans-serif;
    color:  rgba(29, 39, 179, 0.7);
    line-height: 0.3;
    margin: 4% 10% 4% 10%;
    font-weight: bold;
}

/* .GD_1_image{
    position:relative;
    top: 1300px;
    left: 0;
    right: 0;
    bottom: 0;
    width: calc(100% / 4);
    justify-items: center;
    align-items: center;
    margin: 25px;
}

.GD_1_image img {
    width: 100%;
    object-fit: cover;
    margin: auto;
    display: block;
} */


.box1_GD{

}




@media screen and (max-width: 800px) {
    .bigtitle {
        text-align: center;
        font-size: 25px;
        font-family: Arial, sans-serif;
        color: rgba(29, 39, 179, 0.7);
        margin: 10% 0 5% 0;
        margin-left: 6%;
        margin-right: 6%;
    }

    .boxIdea-GD {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin-left: 10%;
        margin-right: 10%;
        text-align: justify;
        font-size: 15px;
    }
    
    .care-GD{
        width: 78%;
        margin: 10% 6% 10% 6%;
        background: rgba(16, 30, 227, 0.194);
        border-radius: 20px 20px 20px 20px;
    }
    
    .boxPlan-GD,
    .boxHistory-GD {
        display: flex;
        flex-wrap: wrap;
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
        background-color: rgb(246, 243, 243);
        position: relative;
        margin-top: 50px;
        text-align: justify;
        border-radius: 10px;
    }
    
    .boxNeed-GD {
        max-width: 1024px;
        font-size: 15px;
        text-align: justify;
        margin-left: 10%;
        margin-right: 10%;
    }



}

@media (min-width: 601px) {
.show-on-large-screen {
    width: 1%;
    height: 400px;
    background: rgba(16, 30, 227, 0.194);
    margin: 10% 49.5% 10% 49.5%;
}


}


@media (max-width: 600px) {
.show-on-large-screen {
    display: none;
}

.boxHistory-GD {
    display: flex;
    flex-wrap: wrap;
    order: 2;
    margin-left: 15%;
}

.boxPlan-GD {
    display: flex;
    flex-wrap: wrap;
    order: 3;
    margin-left: 15%;
}

.grid-GD{
    display: block !important;
}
}
