

.container_promote {
  width: 80%;
  margin: 10px auto;
  text-align: justify;
  font-size: 20px;
}

.team-members {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.team-member {
  width: 50%;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
}

.member-info {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%; /* 新增 */
}

.image-container img {
  width: auto; /* 修改 */
  max-width: 100px; /* 新增 */
  height: auto;
}

.job-title {
  font-size: 20px;
  font-weight: bold;
  
}

@media screen and (max-width: 768px) {
  .team-member {
    width: 100%;
  }
}