.title_title {
  text-align: center;
  font-size: 40px;
  font-family: "Helvetica Neue", "Helvetica", "Nimbus Sans L", "Arial", "Liberation Sans", "PingFang TC", "Hiragino Sans CNS", "Noto Sans CJK TC", "Source Han Sans TC", "Source Han Sans CN", "Microsoft JhengHei", "Wenquanyi Micro Hei", "WenQuanYi Zen Hei", "Heiti TC", "SimHei", "QuanYi Zen Hei Sharp", sans-serif;
}

.text-container {
  text-align: center;
  margin-top: 20px;
}

.container {
  width: 80%;
  margin: 20px auto;
  word-wrap: break-word;
}

.text-content {
  font-size: 20px;
  line-height: 1.5;
  text-align: justify;
}

.team-members {
  display: flex;
  justify-content: center;
}

.team-member {
  width: 35%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.member-info {
  text-align: center;
}

.image-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.image-container img {
  width: 100px;
  height: auto;
}

.job-title {
  font-size: 20px;
  font-weight: bold;
}
