
 .container {
    display: block;
    align-items: center;
    text-align:justify;
    min-height: 260px;
    width: 70%;

  }
  
  .conversation4 {
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
    /* align-items: center; */
    margin-left:8%;
    margin-top: 20%;
  }
  
  .conversation11 {
    display: flex;
    /* flex-wrap: wrap; */
    margin-bottom: 20px;
    /* align-items: center; */
    margin-left:8%;
    margin-top: 20%;
  }
  
  .image {
    margin-right: 20px;
  }
  
  
  
  .text-content{
    display: block;
    width: 70%;
    text-align:justify;
    font-family:"Arial, sans-serif";
    line-height: 1.5;
    font-size: 20px;
  }
  
  .text {
    display: block;
    font-family:"Arial, sans-serif";
    max-width: 80%;
    text-align:justify;
    
  }
  
  .image img {
    max-width: 550px;
    height: auto;
    line-height: 1.5;
  }
  
  .title_Usr{
    text-align: center;
    font-size: 35px;
  }
  
  .PushCore{
    display: grid;
    place-items: center;
  
  }
  p{
    font-size: 18px;
  }