.boxR {
    display: block;
    width: 55%;
    height: 500px;
    background-color: rgba(124, 169, 160, 0.337);
    border-radius: 10px;
    text-align: center;
}

.centered-container_Report {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.return-But {
    position: sticky;
    bottom: 2rem;
    right: 2rem;
    margin-left: 92%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #9AD2C8;
    border-radius: 50%;
    text-decoration: none;
    width: 70px;
    height: 70px;

}

.return-object {
    color: white;
    font-size: 30px;
    transition: .3s ease;
}

@media (max-width: 768px) {
    .boxR {
        display: block;
        width: 70%;
        height: 600px;
        background-color: rgba(124, 169, 160, 0.337);
        border-radius: 10px;
        text-align: center;

    }
}

@media (max-width: 576px) {
    .boxR {
        display: block;
        max-width: 90%;
        height: 900px;
        background-color: rgba(124, 169, 160, 0.337);
        border-radius: 10px;
        text-align: center;

    }
}