.service-container {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
  /* background-color: aqua; */
}

.service-title {
  display:flex;
  font-size: 40px;
  font-family: Arial, sans-serif;
  color:#336666;
  text-align: center;
  margin-top: 20px;
  /* height: 200px;
  width: 20px; */
  justify-content: center;
}

.service-content {
  display:flex;
  flex-wrap: wrap;
  margin-left: 5%;
  margin-right: 5%;
  width: 90%;
  justify-content: center;
  /* background-color: beige; */
}

.service-text {
  margin-top: 100px;
  margin-left: 0px;
  height: 100%;
  
}

.service-text-container {
  border: 2px solid black;
  margin-top: 100px;
  padding: 20px;
}


.service-heading {
  display: flex;
  font-size: 40px;
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  width: 100%;
  background-color: rgba(55, 98, 84, 0.3);
  justify-content: center;
}

.service-button {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  /* transition: background-color 0.3s; */
  margin-left: 40px;
}

.service-button:hover {
  background-color: rgb(48, 66, 50);
  color: white;
}

.service-button:active {
  background-color: rgb(8, 109, 13);
}

.service-image-TW {
  margin-top: 150px;
  margin-left: 100px;
  width: 50%;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;
  
}

.button-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin-bottom: 20px; */
}

.hr-line {
    width: 100%;
    height: 2px;
    background-color: darkblue;
    margin-top: 50px;
    margin-bottom: 10px;
}

.boxA {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-left: 0 !important;
}

.cardA {
  width: 100%;
  max-width: 300px;
  flex: 1 0 300px;
  margin: 10px;
}

.menu-link:visited {
  color: #0e11e9; /* 已訪問連結的顏色 */
  text-decoration: none; /* 移除下劃線 */
}

/* 以下是塞選按鈕 */
.p_USRHUB{
  margin: 10%;
  text-align: left;
}

.button_HUB{
  display: flex;
  margin-left: 10%;
  margin-top: 0;
}

.btu_stlyes {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
  width: 90%;
}

.color_circle1 {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #257773;
  margin-right: 10px;
}

.button_text {
  color: #040404;
  font-size: 19px;
  width: 100%;
}

.btu_stlyes.selected .color_circle {
  background-color: #ff0000; /* 选中状态的颜色 */
}

.button_container {
  display: flex;
}


