.service-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 100%;
  margin-top: 10%;
}

.service-button {
  display: flex;
  flex-wrap: wrap;
  /* border: 2px solid black; */
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  /* transition: background-color 0.3s; */
  margin-left: 40px;
}

.service-button:hover {
  background-color: rgb(48, 66, 50);
  color: white;
}

.service-button:active {
  background-color: rgb(8, 109, 13);
}


.button-container {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
  flex-wrap: wrap;

}

.button-row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  /* margin-bottom: 20px; */
}

/* ==============PDF================= */

.boxA {
  margin-bottom: 10%;
  margin-left: 0 !important;
  width: 100%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  /* background: #1f3d4738; */
}

.card-body {
  background-image: radial-gradient(circle 788px at 0.7% 3.4%, rgba(164, 231, 192, 0.50) 0%, rgba(255, 255, 255, 1) 90%);
  width: 200px;
  height: 140px;
  position: absolute;
  border-radius: 15px;
  backdrop-filter: blur(5px) !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardA {
  width: 260px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid #92cecab5;
  margin: 2%;
}

.card-title {
  text-transform: uppercase;
  margin: 10% 0 10% 0;
  font-size: 15px;
  color: #ffffff;
  font-weight: 900;
  line-height: 40px;
}

.btn-Link {
  color: #dcdcdc;
  background: #5e9b6e;
  padding: 10px 20px;
  border-radius: 5px;
  border: none !important;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.btn-Link:hover {
  background: #1b412d;
  transition: 0.9s;
}


.cardA img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 15px;
}

.cardB img {
  width: 100%;
  height: 100%;
  /* object-fit: cover; */
  border-radius: 15px;
  background-color: cadetblue;
}


/* 以下是塞選按鈕 */
.p_USRHUB {
  margin: 1% 5% 1% 5%;
  text-align: left;
  color: #1b412d;
}



.button_HUB2 {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  border: 4px solid rgb(48, 66, 50);
}

.btu_stlyes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border: 2px solid #257773;
  margin: 5%;
  cursor: pointer;
  width: 110px;
  height: 40px;
  border-radius: 10px;
}

.btu_stlyes:hover {
  cursor: pointer;
  background-color: #257773;
  transition: 0.5s;
}


.button_text {
  color: #346f48;
  font-size: 19px;
  width: 100%;
  font-weight: bold;
}

.button_text:hover {
  color: #ffffff;
}


.button_container {
  display: flex;
}

/* ================================= */
.boxB {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background: #1f3d4738; */
  position: static;
  z-index: 1;
}

.card-body1 {
  background-image: radial-gradient(circle 788px at 0.7% 3.4%, rgba(164, 231, 192, 0.50) 0%, rgba(255, 255, 255, 1) 90%);
  width: 200px;
  height: 140px;
  position: absolute;
  z-index: 10;
  border-radius: 15px;
  backdrop-filter: blur(5px) !important;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cardB {
  width: 260px;
  height: 200px;
  overflow: hidden;
  border-radius: 20px;
  border: 4px solid #92cecab5;
  margin: 2%;
  position: relative;
  z-index: 1;
}

.card-title1 {
  text-transform: uppercase;
  margin: 10% 0 10% 0;
  font-size: 15px;
  color: #ffffff;
  font-weight: 900;
  line-height: 40px;
}

.btn-Link1 {
  color: #dcdcdc;
  background: #5e9b6e;
  padding: 10px 20px;
  border-radius: 5px;
  border: none !important;
  outline: none;
  font-weight: 500;
  cursor: pointer;
}

.btn-Link1:hover {
  background: #1b412d;
  transition: 0.9s;
}



.btn-Link1:hover {
  background: #1b412d;
  transition: 0.9s;
}

/* === */
.service-heading {
  display: grid;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #89f5cc7e, #6fccbc4d, #89f5ee6f, #89eef56f, #89f5f353, #89f0f51f);
  color: #1b5953;
  position: relative;
  text-align: left;
  font-size: 25px;
  width: 100px;
  align-content: center;
}

.service-heading2 {
  display: grid;
  margin-bottom: 20px;
  background-image: linear-gradient(to right, #89f5cc7e, #6fccbc4d, #89f5ee6f, #89eef56f, #89f5f353, #89f0f51f);
  color: #1b5953;
  position: relative;
  text-align: left;
  font-size: 25px;
  width: 100px;
  align-content: center;
}

.service-heading3 {
  display: grid;
  margin-top: 10%;
  margin-left: 10%;
  background-image: linear-gradient(to right, #89f5cc7e, #6fccbc4d, #89f5ee6f, #89eef56f, #89f5f353, #89f0f51f);
  color: #1b5953;
  position: relative;
  text-align: left;
  font-size: 25px;
  width: 140px;
  font-weight: bold;
}

.title_Service {
  position: relative;
  text-align: left;
  font-size: 25px;
  margin-top: 10%;
  width: 300px;
  color: #295b3a;
  background-image: linear-gradient(to right, #89f5cc7e, #6fccbc4d, #89f5ee6f, #89eef56f, #89f5f353, #89f0f51f);
}

.but_text {
  position: relative;
  text-align: left;
  color: #295b3a;
  font-size: 25px;
  width: 100px;
  font-weight:bold;
  background-image: linear-gradient(to right, #89f5cc7e, #6fccbc4d, #89f5ee6f, #89eef56f, #89f5f353, #89f0f51f);
}


.jump_but_in {
  /* border: 4px solid rgb(48, 66, 50); */
  width: 80%;
  height: 200px;
  margin: 2% 10% 2% 10%;
}

.jump_information_in {
  /* position: absolute; */
  /* border: 4px solid rgb(48, 66, 50); */
  width: 90%;
  height: 280px;
  margin: 2% 10% 2% 15%;
  background-color: #72a3981f;
  border-radius: 10px;
}

#element1 {
  top: 1000px;
}

#element2 {
  top: 1100px;
  /* 调整第二个元素的垂直位置 */
}

.in-out-all {
  /* background-color: #886262; */
  width: 80%;
  margin-left: 8%;

}

.button_HUB_in {
  display: flex;
  /* border: 4px solid rgb(48, 66, 50); */

}

.button_HUB_out {
  display: flex;
  /* border: 4px solid rgb(48, 66, 50); */
}

.TWimg {
  display: block;
  width: 70%;
  margin-top: 30%;
  margin-left: 20%;
}

.scroll-div {
  width: 100%;
  height: 235px;
  /* background-color: brown; */
  overflow: hidden;
  overflow-y: scroll;
}

.return-But {
  position: sticky;
  bottom: 2rem;
  right: 2rem;
  margin-left: 92%;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: #9AD2C8;
  border-radius: 50%;
  text-decoration: none;
  width: 70px;
  height: 70px;

}

.return-object {
  color: white;
  font-size: 30px;
  transition: .3s ease;
}

@media screen and (max-width: 768px) {
  .TWimg {
    display: none;
  }

  /* =======按鈕======= */
  .return-But {
    position: sticky;
    bottom: 2rem;
    margin-left: 80%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #9AD2C8;
    border-radius: 50%;
    text-decoration: none;
    width: 55px;
    height: 55px;

  }

  .return-object {
    color: white;
    font-size: 30px;
  }

  .jump_information_in {
  /* position: absolute; */
  /* border: 4px solid rgb(48, 66, 50); */
  width: 90%;
  height: 280px;
  margin: 2% 5% 2% 5%;
  background-color: #72a3981f;
  border-radius: 10px;
}
}