.service-container {
  text-align: center;
}

.service-title {
  font-size: 40px;
  font-family: Arial, sans-serif;
}

.service-content {
  display: flex;
  align-items: flex-start;
  margin-left: 200px;
}

.service-text {
  margin-top: 100px;
  margin-left: 0px;
  
}

.service-text-container {
  border: 2px solid black;
  margin-top: 100px;
  padding: 20px;
}


.service-heading {
  font-size: 50px;
  text-align: left;
}

.service-button {
  border: 2px solid black;
  border-radius: 50%;
  background-color: transparent;
  color: black;
  padding: 10px 20px;
  font-size: 16px;
  transition: background-color 0.3s;
  margin-left: 40px;
}

.service-button:hover {
  background-color: red;
  color: white;
}

.service-button:active {
  background-color: darkred;
}

.service-image {
  margin-left: 100px;
  margin-top: 150px;
}

.button-container {
  display: flex;
  justify-content: flex-start;
  /* gap: 10px; */
  flex-wrap: wrap;
  
}

.button-row {
  display: flex;
  margin-bottom: 20px; /* 调整按钮行之间的间距 */
}