
.boxS {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 250px;
    border-radius: 10px;
    background-color: rgb(246, 243, 243);
    top: 50%;
    left: 50%;
}

.centered-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 調整高度來置中整個頁面 */
  }