.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;
}

.boxS {
  display: block;
  width: 55%;
  height: 500px;
  background-color: rgba(124, 169, 160, 0.337);
  border-radius: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .boxS {
    display: block;
    width: 70%;
    height: 600px;
    background-color: rgba(124, 169, 160, 0.337);
    border-radius: 10px;
    text-align: center;

  }
}

@media (max-width: 576px) {
  .boxS {
    display: block;
    max-width: 90%;
    height: 900px;
    background-color: rgba(124, 169, 160, 0.337);
    border-radius: 10px;
    text-align: center;

  }
}