.contact-container {
    display: flex;
    justify-content: center; /* 將元素水平置中 */
    align-items: center; /* 將元素垂直置中 */
    height: 260px; /* 設置容器的高度，這裡假設你想將整個內容置中 */
    background-color:  rgb(194, 235, 198);/* 背景顏色設為藍色 */
    margin-top: 30px;
  }
  
  .image-text-layout {
    display: flex;
    align-items: center;
  }
  
  .image-container {
    flex: 1;
    margin-right: 30px; /* 設置圖片右側間距 */
  }
  
  .text-container {
    flex: 1;
    margin-left: 20px; /* 設置文字左側間距 */
  }
  .text-container {
    flex: 1;
    margin-left: 20px; /* 設置文字左側間距 */
    overflow: hidden; /* 控制文字溢出時隱藏 */
    text-overflow: ellipsis; /* 控制文字溢出時以省略符號表示 */
    white-space: nowrap; /* 禁止文字換行 */
  }
  
  @media screen and (max-width: 600px) {
    .text-container {
      margin-left: 10px; /* 在較小的螢幕上調整左側間距 */
      font-size: 12px; /* 在較小的螢幕上調整字型大小 */
    }
  }
  
  @media screen and (max-width: 1200px) {
    .text-container {
      margin-left: 15px; /* 在較小的螢幕上調整左側間距 */
      font-size: 14px; /* 在較小的螢幕上調整字型大小 */
    }
  }
  
  

  
  