.contact-container {
  display: flex;
  justify-content: center; /* 將元素水平置中 */
  align-items: center; /* 將元素垂直置中 */
  min-height: 260px; /* 設置容器的高度，這裡假設你想將整個內容置中 */
  background-image:linear-gradient(0deg, rgba(0, 255, 225, 0.195), rgba(90, 243, 225, 0.281) 40%, rgba(170, 243, 235, 0));
  margin-top: 30px;

}


@media (max-width: 700px) {
  .image-text-layout {
    display: block;
  }
}

@media (min-width: 701px) {
  .image-text-layout {
    display: flex;
    align-items: center;
  }
}

.image-text-layout {
  align-items: center;
}

.image-container {
  flex: 1;
  margin-right: 30px; /* 設置圖片右側間距 */
}

.image-container img {
  width: 100%; /* 設定圖片的寬度為容器的 100% */
  height: auto; /* 根據寬度自動調整高度 */
  object-fit: cover; /* 保持圖片比例並填滿容器 */
}

.text-container {
  flex: 1;
  margin-left: 20px; /* 設置文字左側間距 */
  white-space: nowrap; /* 文字不換行 */
  line-height: 15px;
  margin-top: 25px;
}

.contact-text {
  margin-bottom: 10px;
  font-size: 15px;
}


