.image-slide {
    width: calc(100% / 4);
    justify-items: center;
    align-items: center;
    margin: 15px;
    
  }
  
  .image-slide img {
    width: 320px;
    height: 260px;
    object-fit: cover;
    display: block;
    margin: 0 auto;
  
  }
  
  .hr_mg{
    margin: 50px;
  }

.slick-prev:before,
.slick-next:before {
  /* 新的样式 */
  font-family: 'slick' !important;
  font-size: 25px !important;
  line-height: 1 !important;
  opacity: .75 !important;
  color: rgb(42, 145, 161) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}

.carousel .slide {
  text-align:start!important;
  height: 80%!important;

}

.carousel 
.control-arrow, 
.carousel.carousel-slider 
.control-arrow {
  background-color: #326d4b!important;
  border-radius: 5px !important;
}

.carousel .carousel-status {
  right: none !important;
  left: 2px!important;
  padding: 5px;
  font-size: 15px!important;
  text-shadow: 1px 1px 1px rgba(15, 72, 34, 0.9)!important;
  color: #ddefed;
  margin-left: 4%!important;
}

.carousel .control-dots {
  position: relative!important;
  bottom: 0;
  margin: 10px 0;
  padding: 0;
  text-align: center;
  width: 100%;
  z-index: 1;
}

.carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgba(0,0,0,0.9);
  background: #31614b!important;
  border-radius: 50%;
  width: 10px!important;
  height: 10px!important;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}