.image-slide {
    width: calc(100% / 4);
    justify-items: center;
    align-items: center;
    margin: 25px;
  }
  
  .image-slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  
  .hr_mg{
    margin: 50px;
  }

  .slick-prev:before, .slick-next:before {
    font-family: 'slick';
    font-size: 30px;
    line-height: 1;
    opacity: .75;
    color: rgb(42, 145, 161);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}