.image-slide {
    width: calc(100% / 4);
    justify-items: center;
    align-items: center;
    margin: 25px;
  }
  
  .image-slide img {
    width: 100%;
    aspect-ratio: 16/9;
    object-fit: cover;
  }
  
  .hr_mg{
    margin: 50px;
  }

.slick-prev:before,
.slick-next:before {
  /* 新的样式 */
  font-family: 'slick' !important;
  font-size: 30px !important;
  line-height: 1 !important;
  opacity: .75 !important;
  color: rgb(42, 145, 161) !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
}
