.hr-line {
    width: 100%;
    height: 2px;
    background-color: darkblue;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* boxA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} */

/* .cardA {
    width: 100%;
    max-width: 300px;
    flex: 1 0 300px;
    margin: 10px;
} */

.boxA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;

    width: 100%;
    max-width: 965px;
    /* 设置一个最大宽度，以免在大屏幕上拉得太宽 */
    margin: 0 auto;
    /* 居中对齐 */
}

.cardA {
    width: calc(33.33% - 20px);
    box-sizing: border-box;
    margin: 10px;
}

@media (max-width: 1024px) {
    .cardA {
        width: calc(50% - 30px);
    }
}

@media (max-width: 768px) {
    .cardA {
        width: 100%;
    }
}