.hr-line {
    width: 100%;
    height: 2px;
    background-color: darkblue;
    margin-top: 50px;
    margin-bottom: 10px;
}

/* boxA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
} */

/* .cardA {
    width: 100%;
    max-width: 300px;
    flex: 1 0 300px;
    margin: 10px;
} */

.boxA {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
}

.cardA {
    width: calc(33.33% - 20px);
    margin-right: 20px;
    margin-bottom: 20px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .cardA {
        width: calc(50% - 20px);
    }
}

@media (max-width: 768px) {
    .cardA {
        width: 100%;
    }
}

.cardA img {
    align-items: center;
}