
  .p_USRHUB-UH{
    margin: 10%;

}

.button_HUB-UH{
  display: flex;
  margin-left: 10%;
  margin-top: 0;
}

.btu_stlyes-UH {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.color_circle-UH {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #09cbab;
  margin-right: 10px;
}

.button_text-UH {
  color: #040404;
  font-size: 20px;
}

.btu_stlyes-UH.selected .color_circle {
  background-color: #ff0000; /* 选中状态的颜色 */
}

.btu_stlyes-UH:hover{
  background-color: #578b83;
  transition: 0.5s;
  box-shadow: 0px 0px 10px #7bc0aa;
  border-radius: 5px;

}

.button_text-UH:hover{
  color: #ffffff;
  transition: 0.5s;
}