
  .p_USRHUB{
    margin: 10%;

}

.button_HUB{
  display: flex;
  margin-left: 10%;
  margin-top: 0;
}

.btu_stlyes {
  display: flex;
  align-items: center;
  background-color: #ffffff;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.color_circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #09cbab;
  margin-right: 10px;
}

.button_text {
  color: #040404;
}

.btu_stlyes.selected .color_circle {
  background-color: #ff0000; /* 选中状态的颜色 */
}
