.boxImport {
    display: inline-block;
    width: 650px;
    height: 250px;
    border-radius: 10px;
    background-color: rgba(124, 169, 160, 0.337);
    top: 50%;
    left: 50%;
    margin:5%;
    margin-top: 0%;
    color: #1a3725;
    padding: 3%;
}

.centered-container-important {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh; /* 調整高度來置中整個頁面 */
}

.boxImport span {
display: flex;
justify-content:  flex-start;
text-align: center;
margin-left: 10%;
}