.boxImport {
    display: block;
    width: 55%;
    height: 500px;
    background-color: rgba(124, 169, 160, 0.337);
    border-radius: 10px;
    text-align: center;
}

.centered-container-important {
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
}

.boxImport span {
    display: flex;
    justify-content: flex-start;
    text-align: center;
    margin-left: 10%;
}

@media (max-width: 768px) {
    .boxImport {
        display: block;
        width: 70%;
        height: 600px;
        background-color: rgba(124, 169, 160, 0.337);
        border-radius: 10px;
        text-align: center;

    }
}

@media (max-width: 576px) {
    .boxImport {
        display: block;
        max-width: 90%;
        height: 900px;
        background-color: rgba(124, 169, 160, 0.337);
        border-radius: 10px;
        text-align: center;

    }
}