.allName{
    display: flex;
    justify-content:flex-start;
    height: 0 auto;
    position: relative;
    background-color: rgba(0, 255, 225, 0.195);

}

.allName p{
    margin-left: 30px;
    font-style: italic;
}


@media (max-width: 700px) {
    .allName p{
        margin-left: 10px;
        font-style: italic;
    }
}

