body {
  margin: 0;
  font-family:"Noto SansTC" ,"Roboto", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



@media screen and (max-width: 767px) {
  .dynamic{
    margin-top: 40% !important;
  }
}